*{
	box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#markers-on-the-map {
	height:100%;
	width:100%;
	border:1px solid red;
	margin:0;
}

#map{
	height:100% !important;
	width:100% !important;
}

body{
	margin:0;
	padding:0;
  width:100vw;
  height:100vh;
}

#main{
	margin:0;
	padding:0;
	display: flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

header,section,footer{
	padding:10px;
}

header,footer{
	background-color: #111;
	color:white;
}

section{
	flex-grow:1;
}

header{
	font-size: 20px;
	color: white;
	border: none;
}

.accent{
	color:#f31a69;
}

footer{
	text-align:center;
	font-size:0.8em;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}